<clr-main-container>
    <div class="content-container">
        <div class="content-area">
            <div class="clr-row">
                <div class="clr-col-lg-5 clr-col-md-8 clr-col-12">
                    <h3>Reset Password</h3>
                    <p>Enter your email address to receive verification code.</p>
                    <form clrForm [formGroup]="emailAuthenticationForm" #fform="ngForm" style="padding:20px;"(ngSubmit)="onSubmit()">
                        <clr-input-container>
                            <label>Email address</label>
                            <input clrInput type="email" placeholder="Your email address" formControlName="emailAddress" />
                            <clr-control-error *clrIfError="required">Your email address is required!</clr-control-error>                            
                        </clr-input-container>
                        <br />
                        <button class="btn btn-sm btn-success" type="submit">Submit</button>
                        <button class="btn btn-sm btn-danger" type="button" (click)="resetEmailForm()">Reset</button>
                    </form>
                </div> 
            </div>

            <div class="clr-row"  ng-click="show">
                <div class="clr-col-lg-5 clr-col-md-8 clr-col-12">
                    <form clrForm [formGroup]="resetPasswordForm" #fform="ngForm" style="padding:20px;" (ngSubmit)="Submit()">
                        <clr-input-container>
                            <label>Verification Code</label>
                            <input clrInput type="text" placeholder="Verification Code" formControlName="verificationCode" />
                            <clr-control-error *clrIfError="required">This field is required!</clr-control-error>                            
                        </clr-input-container>
                        <clr-input-container>
                            <label>New Password</label>
                            <input clrInput type="password" placeholder="New Password" formControlName="newPassword" />
                            <clr-control-error *clrIfError="required">This field is required!</clr-control-error>                            
                        </clr-input-container>
                        <clr-input-container>
                            <label>Retype Password</label>
                            <input clrInput type="password" placeholder="Retype Password" formControlName="newPasswordReType" />
                            <clr-control-error *clrIfError="required">This field is required!</clr-control-error>                            
                        </clr-input-container>
                        <br />
                        <button class="btn btn-sm btn-success" type="submit">Submit</button>
                        <button class="btn btn-sm btn-danger" type="button" (click)="resetPwordForm()">Reset</button>
                    </form>
                </div> 
            </div>
        </div>
    </div>
</clr-main-container>