<div class="clr-row">
    <div class="clr-col">
        <form clrForm [formGroup]="requestForm" #fform="ngForm" style="padding:20px;"(ngSubmit)="submit()">
            <h1>Timeoff Application Form</h1>
            
            <clr-textarea-container>
                <label>Reason for timeoff</label>
                <textarea clrTextarea  rows="4" cols="40" placeholder="Type reason here" formControlName="reason"></textarea>
                <clr-control-error *clrIfError="'required'">Reason is required!</clr-control-error>
                <clr-control-error *clrIfError="'minlength'">Reason must be at least 8 characters long!</clr-control-error>
            </clr-textarea-container>
            <br />
            <clr-input-container>
                <label>Date</label>
                <input clrInput type="date" placeholder="Date" formControlName="date"/>      
                <clr-control-error *clrIfError="'required'">Date is required!</clr-control-error>
                <clr-control-error *clrIfError="requestForm.get('date').errors.DateValidator">Date has already passed!</clr-control-error>
            </clr-input-container>
            <br />
            <clr-input-container>
                <label>Start Time</label>
                <input clrInput [owlDateTimeTrigger]="dt" [owlDateTime]="dt" placeholder="Start time" formControlName="startTime"/>      
                <owl-date-time [pickerType]="'timer'" #dt></owl-date-time>
                <clr-control-error *clrIfError="'required'">Start time is required!</clr-control-error>
            </clr-input-container>
            <br />
            <clr-input-container>
                <label>End Time</label>
                <input clrInput [owlDateTimeTrigger]="dt1" [owlDateTime]="dt1" placeholder="End time" formControlName="endTime"/>     
                <owl-date-time [pickerType]="'timer'" #dt1></owl-date-time>
                <clr-control-error *clrIfError="'required'">End time is required!</clr-control-error>
            </clr-input-container>
            <br />
            <button class="btn btn-success" type="submit" [disabled]="!requestForm.valid">Submit</button>
            <button class="btn btn-danger" type="button" (click)="resetForm()">Reset</button>
        </form>
    </div>
    <div class="clr-col">
        <app-calendar></app-calendar>
    </div>
</div>