<clr-header>
    <div class="branding">
        <a href="..." class="nav-link">
            <img src="assets/Logo.png" style="height:auto;width:60px;">
            <span class="title"><b style="font-size:20px;">GLSC</b> Leave Tracking System</span>
        </a>
    </div>

    <div class="header-nav" [clr-nav-level]="1">
        <a href="..." class="nav-link" routerLink="/home" routerLinkActive="active"><span class="nav-text">Home</span></a>
        <a href="..." class="nav-link" routerLink="/profile" routerLinkActive="active"><span class="nav-text">Profile</span></a>
        <a href="..." class="nav-link" routerLink="/apply" routerLinkActive="active"><span class="nav-text">Apply for Leave/Resumption</span></a>
        <a href="..." class="nav-link" routerLink="/messages" routerLinkActive="active"><span class="nav-text">Messages</span></a>
        <a href="..." class="nav-link" routerLink="/history" routerLinkActive="active"><span class="nav-text">Leave History</span></a>
        <a href="..." class="nav-link" routerLink="/requests" routerLinkActive="active"><span class="nav-text">Leave Request</span></a>
        <a href="..." class="nav-link" routerLink="/staff" routerLinkActive="active"><span class="nav-text">Staff Information</span></a>
    </div>

    <div class="header-actions">
        <button (click)="logout()">Log Out</button>
    </div>
</clr-header>