<form class="clr-form clr-form-horizontal">
    <div class="clr-form-control">
        <label for="horizontal-textarea-basic" class="clr-control-label">Reason for leave request</label>
        <div class="clr-control-container">
            <div class="clr-input-wrapper">
                <textarea id="horizontal-textarea-basic" placeholder="Enter reason here" class="clr-textarea"></textarea>
                <clr-icon class="clr-validate-icon" shape="exclamation-circle"></clr-icon>
            </div>                      
        </div>
    </div>
</form>

<div class="clr-row clr-justify-content-around">
    <div class="clr-col-2">
        <span>
            <form clrForm clrLayout="vertical">
                <label>Start date</label>
                <input type="date" clrDate name="startDate">
            </form>
        </span>
    </div>
    <div class="clr-col-2">
        <span>
            <form clrForm clrLayout="vertical">
                <label>End date</label>
                <input type="date" clrDate name="startDate">
            </form>
        </span>
    </div>
</div>
<button class="btn btn-primary">Submit</button>            
