<clr-modal [(clrModalOpen)]="show">
    <h3 class="modal-title">Leave Information</h3>  
    <div class="modal-body">
        <h4>Basic Data</h4>
        <p class="p4">Full name: </p>
        <p class="p4">Email address: </p>
        <p class="p4">Job Title: </p>
        <p class="p4">Subdivision: </p>
        <p class="p4">Division: </p>
        <h4>Leave Data</h4>
        <p class="p4">Annual leave days left: </p>
        <p class="p4">Special leave days left: </p>
        <p class="p4">Sick leave days left: </p>
        <p class="p4">Study leave days left: </p>
    </div>  
    <div class="modal-footer">
        <button (click)="show = false" class="btn btn-primary btn-sm">{{ btnText }}</button>
    </div>  
</clr-modal>