<clr-main-container>
  <div class="content-container">
    <div class="content-area">
        <br /><br />
    <table class="table">
      <thead>
          <tr>
            <th>Leave Type</th>
            <th>Total Days</th>
            <th>Days Used</th>
            <th>Days Remaining</th>
          </tr>
      </thead>
      <tbody>
          <tr>
            <td>Sick Leave (Certified)</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
          </tr>
          <tr>
            <td>Sick Leave (Uncertified)</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
          </tr>
          <tr>
            <td>Special Leave</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
          </tr>
          <tr>
            <td>Compassionate Leave</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
          </tr>
          <tr>
            <td>Vacation Leave</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
          </tr>
          <tr>
            <td>Study Leave</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
          </tr>
      </tbody>
    </table>
  </div>
</div>
</clr-main-container>
