<clr-main-container>  
    <app-header></app-header>
    <br />
    <h1>Messages</h1>
    <div class="content-container clr-justify-content-center">
        <div class="content-area">
            <clr-datagrid>
                <clr-dg-column>Date</clr-dg-column>
                <clr-dg-column>Subject</clr-dg-column>
                <clr-dg-column>From</clr-dg-column>                                
        
                <!--clr-dg-row *ngIf="messages" *ngFor="let message of messages">
                    <clr-dg-cell>{{message.date}}</clr-dg-cell>
                    <clr-dg-cell>{{message.subject}}</clr-dg-cell>
                    <clr-dg-cell>{{message.sender}}</clr-dg-cell>                                       
                </clr-dg-row-->                
                
                <clr-dg-row><button (click)="isVisible = true">
                    <clr-dg-cell>August 21, 2019</clr-dg-cell>
                    <clr-dg-cell>Pick something, anything</clr-dg-cell>
                    <clr-dg-cell>Rum</clr-dg-cell>    </button>                   
                </clr-dg-row>
                
                <clr-modal [(clrModalOpen)]="isVisible">
                    <h3 class="modal-title">Pick up something, anything</h3>
                    <div class="modal-body">
                        <p>Message body...</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn-primary btn btn-sm" (click)="isVisible = false">Ok</button>
                    </div>
                </clr-modal>
            </clr-datagrid>
        </div>
    </div>
    <br /><br />
</clr-main-container>