<clr-main-container>  
    <app-header></app-header>
    <br />
    <h1>Messages</h1>
    <div class="content-container clr-justify-content-center">
        <div class="content-area">
            <clr-datagrid>
                <clr-dg-column>Date</clr-dg-column>
                <clr-dg-column>Subject</clr-dg-column>
                <clr-dg-column>From</clr-dg-column>                                
        
                <!--clr-dg-row *ngIf="messages" *ngFor="let message of messages">
                    <clr-dg-cell>{{message.date}}</clr-dg-cell>
                    <clr-dg-cell>{{message.subject}}</clr-dg-cell>
                    <clr-dg-cell>{{message.sender}}</clr-dg-cell>                                       
                </clr-dg-row-->                
                
                <clr-dg-row (click)="modal.open('This is a Test')">
                    <clr-dg-cell>August 21, 2019</clr-dg-cell>
                    <clr-dg-cell>Pick up something, anything</clr-dg-cell>
                    <clr-dg-cell>Rum</clr-dg-cell>                    
                </clr-dg-row>                
            </clr-datagrid>
            <app-message-modal-component [btnText]="'Ok'"></app-message-modal-component>
        </div>
    </div>
    <br /><br />
</clr-main-container>