<clr-main-container>
  <app-header></app-header>
    <div class="content-container">
      <div class="content-area">
        <div class="card">
          <div class="clr-row clr-justify-content-between" style="margin:10px;">
            <div class="clr-col-3">
              <h4 style="font-weight:bold;"></h4>
              <span></span>
            </div>
            <div class="clr-col-3">
              <h6></h6>
              <a *ngIf="user.onLeave" href="apply/resumption"><button class="btn btn-primary">Resume</button></a>
              <a *ngIf="!user.onLeave" href="/apply/leave"><button class="btn btn-primary">Leave</button></a>
            </div>
          </div>
        </div>
        <div class="clr-row">
          <h4 style="font-weight:bold;padding-left:10px;">Basic Data</h4>
          <div class="clr-break-row">

          </div>
          <div class="clr-col">
            <div class="card" style="padding:10px;">
              <p class="p4">Name:</p>
              <p class="p4">Date of Birth:</p>
              <p class="p4">Job Title:</p>
              <p class="p4">Subdivision:</p>
              <p class="p4">Division:</p>
            </div>
          </div>
        </div>
        <div class="clr-row">
          <h4 style="font-weight:bold;padding-left:10px;">Leave Data</h4>
          <div class="clr-break-row">

          </div>
          <div class="clr-col">
            <div class="card" style="padding:10px;">
              <p class="p4">Annual Leave Taken:</p><br>
              <p class="p4">Annual Leave Entitled:</p><br>
              <p class="p4">Special Leave Taken:</p><br>
              <p class="p4">Special Leave Entitled:</p>
            </div>
          </div>
        </div>
      </div>
  </div>
</clr-main-container>