<clr-main-container>  
  <app-header></app-header>
  <br />
  <div class="content-container clr-justify-content-center">
    <clr-datagrid>
      <clr-dg-column>Employee Name</clr-dg-column>
      <clr-dg-column>Leave Type</clr-dg-column>
      <clr-dg-column>From Date</clr-dg-column>
      <clr-dg-column>To Date</clr-dg-column>
      <clr-dg-column>Days</clr-dg-column>
      <clr-dg-column>Leave Reason</clr-dg-column>     
      <clr-dg-column>Action</clr-dg-column>
  
      <clr-dg-row>
        <clr-dg-cell>John Smith</clr-dg-cell>
        <clr-dg-cell>Vacation</clr-dg-cell>
        <clr-dg-cell>15-08-2019</clr-dg-cell>
        <clr-dg-cell>22-08-2019</clr-dg-cell>
        <clr-dg-cell>7</clr-dg-cell>        
        <clr-dg-cell>Need a break from this place</clr-dg-cell>        
        <clr-dg-cell>
          <div class="btn-group btn-primary">
            <button class="btn btn-success" type="submit">Approve</button>
            <button class="btn btn-danger" type="submit">Reject</button>
          </div>
        </clr-dg-cell>
      </clr-dg-row>
      <clr-dg-row>
        <clr-dg-cell>John Smith</clr-dg-cell>
        <clr-dg-cell>Vacation</clr-dg-cell>
        <clr-dg-cell>15-08-2019</clr-dg-cell>
        <clr-dg-cell>22-08-2019</clr-dg-cell>
        <clr-dg-cell>7</clr-dg-cell>        
        <clr-dg-cell>Need a break from this place</clr-dg-cell>        
        <clr-dg-cell>
          <div class="btn-group btn-primary">
            <button class="btn btn-success" type="submit">Approve</button>
            <button class="btn btn-danger" type="submit">Reject</button>
          </div>
        </clr-dg-cell>
      </clr-dg-row>
      <clr-dg-row>
        <clr-dg-cell>John Smith</clr-dg-cell>
        <clr-dg-cell>Vacation</clr-dg-cell>
        <clr-dg-cell>15-08-2019</clr-dg-cell>
        <clr-dg-cell>22-08-2019</clr-dg-cell>
        <clr-dg-cell>7</clr-dg-cell>        
        <clr-dg-cell>Need a break from this place</clr-dg-cell>        
        <clr-dg-cell>
          <div class="btn-group btn-primary">
            <button class="btn btn-success" type="submit">Approve</button>
            <button class="btn btn-danger" type="submit">Reject</button>
          </div>
        </clr-dg-cell>
      </clr-dg-row>
      <clr-dg-row>
        <clr-dg-cell>John Smith</clr-dg-cell>
        <clr-dg-cell>Vacation</clr-dg-cell>
        <clr-dg-cell>15-08-2019</clr-dg-cell>
        <clr-dg-cell>22-08-2019</clr-dg-cell>
        <clr-dg-cell>7</clr-dg-cell>        
        <clr-dg-cell>Need a break from this place</clr-dg-cell>        
        <clr-dg-cell>
          <div class="btn-group btn-primary">
            <button class="btn btn-success" type="submit">Approve</button>
            <button class="btn btn-danger" type="submit">Reject</button>
          </div>
        </clr-dg-cell>
      </clr-dg-row>
    </clr-datagrid>
  </div>
  <br /><br />
</clr-main-container>
