<clr-main-container>
    <app-header></app-header>
    <div class="content-container">
      <nav class="sidenav" [clr-nav-level]="2">
        <section class="sidenav-content">
          <section class="nav-group">
            <label for="tabexample2">Applications</label>
            <ul class="nav-list">
              <li><a class="nav-link" routerLink="/apply/leave" routerLinkActive="active">Apply for Leave</a></li>
              <li><a class="nav-link" routerLink="/apply/timeoff" routerLinkActive="active">Apply for Time Off</a></li>
              <li><a class="nav-link" routerLink="/apply/resumption" routerLinkActive="active">Apply for Resumption</a></li>
            </ul>
          </section>
        </section>
      </nav>
      <div class="router-outlet-container">
        <router-outlet></router-outlet>
      </div>
    </div>
</clr-main-container>
