<clr-main-container>
        <app-header></app-header>
        <div class="content-container">
          <nav class="sidenav" [clr-nav-level]="2">
                 <section class="sidenav-content">
                   <section class="nav-group">
                       <label for="tabexample2">Applications</label>
                       <ul class="nav-list">
                           <li><a class="nav-link" routerLink="/staff/name" routerLinkActive="active">Search by Name</a></li>
                           <li><a class="nav-link" routerLink="/staff/subdivision" routerLinkActive="active">Search by Subdivisions</a></li>
                           <li><a class="nav-link" routerLink="/staff/division" routerLinkActive="active">Search by Division</a></li>
                       </ul>
                   </section>
                     </section>
             </nav>
             <router-outlet></router-outlet>
          </div>
      </clr-main-container>
