<clr-main-container>
    <div class="content-container">
        <div class="content-area">
            <form clrForm [formGroup]="registerForm" #fform="ngForm" style="padding:20px;" (ngSubmit)="onSubmit()">
                <clr-input-container>
                    <label>First Name</label>
                    <input clrInput type="text" placeholder="First Name" formControlName="firstName"/>
                    <clr-control-error *clrIfError="'required'">This field is required!</clr-control-error>
                    <clr-control-error *clrIfError="'minlength'">First name must be at least 8 characters long!</clr-control-error>
                    <clr-control-error *clrIfError="'maxlength'">First name must be less than 30 characters long!</clr-control-error>
                    <clr-control-error *clrIfError="'pattern'">Invalid input!</clr-control-error>
                </clr-input-container>
                <clr-input-container>
                    <label>Last Name</label>
                    <input clrInput type="text" placeholder="Last Name" formControlName="lastName"/>
                    <clr-control-error *clrIfError="'required'">This field is required!</clr-control-error>
                    <clr-control-error *clrIfError="'minlength'">First name must be at least 8 characters long!</clr-control-error>
                    <clr-control-error *clrIfError="'maxlength'">First name must be less than 30 characters long!</clr-control-error>
                    <clr-control-error *clrIfError="'pattern'">Invalid input!</clr-control-error>
                </clr-input-container>
                <clr-input-container>
                    <label>Date of Birth</label>
                    <input clrInput type="date" placeholder="Date of Birth" formControlName="dob"/>
                    <clr-control-error *clrIfError="'required'">This field is required!</clr-control-error>
                </clr-input-container>
                <clr-input-container>
                    <label>Email Address</label>
                    <input clrInput type="email" placeholder="Email Address" formControlName="email"/>
                    <clr-control-error *clrIfError="'required'">Email Address is required!</clr-control-error>
                    <clr-control-error *clrIfError="'email'">Invalid Email Address!</clr-control-error>                    
                    <clr-control-error *clrIfError="'pattern'">Invalid input!</clr-control-error>
                </clr-input-container>
                <clr-select-container>
                    <label>Position</label>
                    <select clrSelect name="position" formControlName="position">
                        <option value="General Staff">General Staff</option>
                        <option value="Supervisor">Supervisor</option>
                        <option value="Manager">Manager</option>
                    </select>
                    <clr-control-error *clrIfError="'required'">This field is required!</clr-control-error>
                </clr-select-container>
                <clr-input-container>
                    <label>Job Title</label>
                    <input clrInput type="text" placeholder="Job Title" formControlName="jobTitle"/>
                    <clr-control-error *clrIfError="'required'">This field is required!</clr-control-error>
                    <clr-control-error *clrIfError="'pattern'">Invalid input!</clr-control-error>
                </clr-input-container>
                <clr-select-container>
                    <label>Employee Band</label>
                        <select clrSelect formControlName="employeeBand">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                        </select>
                    <clr-control-error *clrIfError="'required'">This field is required!</clr-control-error>
                </clr-select-container>
                <clr-input-container>
                    <label>Username</label>
                    <input clrInput type="text" placeholder="Username" formControlName="username"/>
                    <clr-control-error *clrIfError="required">This field is required!</clr-control-error>
                    <clr-control-error *clrIfError="'minlength'">Username must be at least 5 characters long!</clr-control-error>
                    <clr-control-error *clrIfError="'pattern'">Invalid input!</clr-control-error>
                </clr-input-container>
                <clr-input-container>
                    <label>Password</label>
                    <input clrInput type="password" placeholder="Password" formControlName="password"/>
                    <clr-control-error *clrIfError="'required'">This field is required!</clr-control-error>
                    <clr-control-error *clrIfError="'minlength'">Password must be at least 8 characters long!</clr-control-error>
                </clr-input-container>
                <clr-input-container>
                    <label>Confirm Password</label>
                    <input clrInput type="password" placeholder="Retype Password" formControlName="confirmPassword"/>
                    <clr-control-error *clrIfError="'required'">This field is required!</clr-control-error>
                    <clr-control-error *clrIfError="'minlength'">Password must be at least 8 characters long!</clr-control-error>
                    <clr-control-error *clrIfError="'f.confirmPassword.errors.mustMatch'">Passwords do not match!</clr-control-error>
                </clr-input-container> 
                <br />
                <button class="btn btn-success" type="submit" [disabled]="!registerForm.valid">Register</button>
                <button class="btn btn-danger" type="button" (click)="resetForm()">Reset</button>                
            </form>
        </div>
    </div>
</clr-main-container>