<clr-main-container>
    <div class="content-container">
        <div class="content-area">
            <form clr-form [formGroup]="registerForm" #fform="ngForm" style="padding:20px;"(ngSubmit)="onSubmit()">
                <clr-input-container>
                    <label>First Name</label>
                    <input clrInput type="text" placeholder="First Name" name="firstName" required/>
                    <clr-contol-error>This field is required!</clr-contol-error>
                </clr-input-container>
                <clr-input-container>
                    <label>Last Name</label>
                    <input clrInput type="text" placeholder="Last Name" name="lastName" required/>
                    <clr-contol-error>This field is required!</clr-contol-error>
                </clr-input-container>
                <clr-input-container>
                    <label>Date of Birth</label>
                    <input clrInput type="date" placeholder="Date of Birth" name="dob" required/>
                    <clr-contol-error>This field is required!</clr-contol-error>
                </clr-input-container>
                <clr-input-container>
                    <label>Email Address</label>
                    <input clrInput type="email" placeholder="Email Address" name="email" required/>
                    <clr-contol-error>This field is required!</clr-contol-error>
                </clr-input-container>
                <clr-select-container>
                    <label>Position</label>
                    <select clrSelect name="position" required>
                        <option value="General Staff">General Staff</option>
                        <option value="Supervisor">Supervisor</option>
                        <option value="Manager">Manager</option>
                    </select>
                    <clr-contol-error>This field is required!</clr-contol-error>
                </clr-select-container>
                <clr-input-container>
                    <label>Job Title</label>
                    <input clrInput type="text" placeholder="Job Title" name="jobTitle" required/>
                    <clr-contol-error>This field is required!</clr-contol-error>
                </clr-input-container>
                <clr-select-container>
                    <label>Employee Band</label>
                        <select clrSelect name="employeeBand" required>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                        </select>
                    <clr-contol-error>This field is required!</clr-contol-error>
                </clr-select-container>
                <clr-input-container>
                    <label>Username</label>
                    <input clrInput type="text" placeholder="Username" name="username" required/>
                    <clr-contol-error>This field is required!</clr-contol-error>
                </clr-input-container>
                <clr-input-container>
                    <label>Password</label>
                    <input clrInput type="password" placeholder="Password" name="password" required/>
                    <clr-contol-error>This field is required!</clr-contol-error>
                </clr-input-container>
                <clr-input-container>
                    <label>Re-enter Password</label>
                    <input clrInput type="password" placeholder="Re-enter Password" name="password2" required/>
                    <clr-contol-error>This field is required!</clr-contol-error>
                </clr-input-container>
                <br />
                <button class="btn btn-success" type="submit">Register</button>
                <button class="btn btn-danger" type="button" (click)="resetForm()">Reset</button>
            </form>
        </div>
    </div>
</clr-main-container>>